@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background-image: radial-gradient(
    circle at top center,
    hsl(214, 47%, 23%),
    hsl(237, 48%, 15%)
  );
}
